<div id="stageModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form [formGroup]="stageCreationForm" (ngSubmit)="onSubmit()">
        <div class="modal-header">
          <h1 i18n class="modal-title fs-3" id="exampleModalLabel">New stage</h1>
          <button #closeModalButton type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body row g-3">
          <div class="alert alert-danger alert-dismissible fade d-flex justify-content-between show my-0" role="alert"
            *ngIf="formError != null && formError.length > 0">
            <span>{{formError}}</span>
            <button class="btn btn-link text-decoration-none text-reset p-0" (click)="closeError()">
              <strong>x</strong>
            </button>
          </div>
          <div class="form-floating col-md-12">
            <input id="title" class="form-control" type="text" formControlName="title" placeholder="title" required>
            <label i18n class="px-4" for="title">Title</label>
            <div *ngIf="title!.errors?.['required']" class="text-danger mb-0" i18n>
              Please, fill in this field
            </div>
            <div *ngIf="title!.errors?.['maxlength']" class="text-danger mb-0" i18n>
              The maximum number of characters allowed is 100
            </div>
          </div>
          <div class="form-floating col-md-12">
            <textarea class="form-control" id="description" formControlName="description" required style="height: 150px"></textarea>
            <label i18n class="px-4" for="description">Description</label>
            <div *ngIf="description!.errors?.['required']" class="text-danger mb-0" i18n>
              Please, fill in this field
            </div>
            <div *ngIf="description!.errors?.['minlength']" class="text-danger mb-0" i18n>
              Introduce, at least, 10 characters
            </div>
            <div *ngIf="description!.errors?.['maxlength']" class="text-danger mb-0" i18n>
              The maximum number of characters allowed is 255
            </div>
          </div>
          <div class="form-floating col-md-12">
            <input id="price" class="form-control" type="number" step="0.01" min="0" formControlName="price" required>
            <label i18n class="px-4" for="price">Price</label>
            <div *ngIf="price!.errors?.['required']" class="text-danger mb-0" i18n>
              Please, fill in this field
            </div>
            <div *ngIf="price!.errors?.['min']" class="text-danger mb-0" i18n>
              You can't set a negative amount
            </div>
          </div>
          <div class="form-check col-md-12">
            <input id="updateTotalPrice" class="form-check-input" type="checkbox" formControlName="updateTotalPrice">
            <label i18n class="form-check-label" for="updateTotalPrice">Update trip price with stages price sum</label>
          </div>
        </div>
        <div class="modal-footer">
          <button i18n class="btn btn-primary" type="submit" [disabled]="stageCreationForm.invalid">Submit</button>
          <button i18n type="button" class="btn btn-info" data-bs-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
