<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
    <!-- PLACE LOGO HERE <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg> -->
    <span class="fs-4">ACME-EXPLORER</span>
  </a>

  <ul class="nav nav-pills">
    <li class="nav-item"><a href="/login" class="nav-link active" aria-current="page">Login</a></li>
    <li class="nav-item"><button (click)="logOut()" class="nav-link">Logout</button></li>
  </ul>
</header>
