<header class="navbar navbar-expand-lg bg-white sticky-top">
  <div class="container-fluid">
    <a href="#" routerLink="/" class="navbar-brand d-flex align-items-center">
      <object data="../../../../assets/images/logo.svg" width="40" height="40" alt="Logo de acme-explorer"></object>
      <span class="fs-3 ms-2 text-dark">ACME-EXPLORER</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a i18n href="#" class="nav-link dropdown-toggle" id="dropdownTrips" data-bs-toggle="dropdown"
            aria-expanded="false">
            Trips
          </a>
          <ul class="dropdown-menu dropdown-menu-end text-small" aria-labelledby="dropdownTrips">
            <li>
              <a i18n class="dropdown-item" routerLink="/trips">Search</a>
            </li>
            <li>
              <hr *ngIf="activeRole === 'explorer'" class="dropdown-divider">
            </li>
            <li *ngIf="activeRole === 'explorer'">
              <a i18n class="dropdown-item" routerLink="/applications">Applications</a>
            </li>
            <li>
              <hr *ngIf="activeRole === 'manager'" class="dropdown-divider">
            </li>
            <li *ngIf="activeRole === 'manager'">
              <a i18n class="dropdown-item" routerLink="/mytrips">My trips</a>
            </li>
            <li *ngIf="activeRole === 'manager'">
              <a i18n class="dropdown-item" routerLink="/trips/create">Create</a>
            </li>
          </ul>
        </li>
        <li *ngIf="activeRole === 'sponsor'" class="nav-item dropdown">
          <a i18n href="#" class="nav-link dropdown-toggle" id="dropdownSponsorships"
            data-bs-toggle="dropdown" aria-expanded="false">
            Sponsorships
          </a>
          <ul class="dropdown-menu dropdown-menu-end text-small" aria-labelledby="dropdownSponsorships">
            <li>
              <a i18n class="dropdown-item" routerLink="/sponsorships">List</a>
            </li>
          </ul>
        <li *ngIf="activeRole === 'administrator'" class="nav-item dropdown">
          <a i18n href="#" class="nav-link dropdown-toggle" id="dropdownAdministration"
            data-bs-toggle="dropdown" aria-expanded="false">
            Administration
          </a>
          <ul class="dropdown-menu dropdown-menu-end text-small" aria-labelledby="dropdownAdministration">
            <li>
              <a i18n class="dropdown-item" routerLink="/dashboard">Dashboard</a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a i18n class="dropdown-item" routerLink="/actors">Actors</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a i18n href="#" class="nav-link dropdown-toggle" id="dropdownLanguage"
            data-bs-toggle="dropdown" aria-expanded="false">
            Language
          </a>
          <ul class="dropdown-menu dropdown-menu-end text-small" aria-labelledby="dropdownLanguage">
            <li>
              <a class="dropdown-item" (click)="changeLanguage('es')">
                <object data="../../../../assets/flags/es.svg" width="15" height="15"></object> ES
              </a>
              <a class="dropdown-item" (click)="changeLanguage('en')">
                <object data="../../../../assets/flags/en.svg" width="15" height="15"></object> EN
              </a>
            </li>
          </ul>
        </li>
        <li *ngIf="isLoggedIn()" class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" id="dropdownActor"
            data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-user"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end text-small" aria-labelledby="dropdownActor">
            <li class="nav-item">
              <a i18n class="dropdown-item" routerLink="/profile">Profile</a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="nav-item">
              <a i18n href="#" (click)="logOut()" class="dropdown-item text-primary">Logout</a>
            </li>
          </ul>
        </li>
      </ul>

      <div class="nav nav-pills">
        <div *ngIf="!isLoggedIn()" class="nav-item">
          <a i18n href="/login" class="nav-link active ms-lg-3" aria-current="page">Login</a>
        </div>
      </div>

    </div>
  </div>
</header>
