<div class="row mt-3">
  <div class="col-12 col-md-10 offset-md-1">
    <legend i18n>Dashboard</legend>
  </div>
  <div class="col-12 col-md-10 offset-md-1 mt-2">
    <table class="table table-hover text-dark text-center">
      <thead class="table-info text-dark">
        <tr>
          <th scope="col"></th>
          <th i18n scope="col">Average</th>
          <th i18n scope="col">Minimum</th>
          <th i18n scope="col">Maximum</th>
          <th i18n scope="col">Standard deviation</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr>
          <th i18n scope="row" class="text-start">number of trips managed per manager</th>
          <td>{{dataWarehouse.tripsManagedByManager[0].averageTripsPerManager | number : ".1-4"}}</td>
          <td>{{dataWarehouse.tripsManagedByManager[0].minTripsPerManager | number : ".1-4"}}</td>
          <td>{{dataWarehouse.tripsManagedByManager[0].maxTripsPerManager | number : ".1-4"}}</td>
          <td>{{dataWarehouse.tripsManagedByManager[0].stdDevTripsPerManager | number : ".1-4"}}</td>
        </tr>
        <tr>
          <th i18n scope="row" class="text-start">number of applications per trip</th>
          <td>{{dataWarehouse.applicationsPerTrip[0].averageApplicationsPerTrip | number : ".1-4"}}</td>
          <td>{{dataWarehouse.applicationsPerTrip[0].minApplicationsPerTrip | number : ".1-4"}}</td>
          <td>{{dataWarehouse.applicationsPerTrip[0].maxApplicationsPerTrip | number : ".1-4"}}</td>
          <td>{{dataWarehouse.applicationsPerTrip[0].stdDevApplicationsPerTrip | number : ".1-4"}}</td>
        </tr>
        <tr>
          <th i18n scope="row" class="text-start">price of the trips</th>
          <td>{{dataWarehouse.tripsPrice[0].averagePrice | number : ".1-2"}}</td>
          <td>{{dataWarehouse.tripsPrice[0].minPrice | number : ".1-2"}}</td>
          <td>{{dataWarehouse.tripsPrice[0].maxPrice | number : ".1-2"}}</td>
          <td>{{dataWarehouse.tripsPrice[0].stdDevPrice | number : ".1-2"}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-12 col-md-10 offset-md-1 mt-2">
    <div class="w-100">
      <canvas id="ratioChart">
        {{ ratioChart }}
      </canvas>
    </div>
  </div>
  <div class="col-12 col-md-10 offset-md-1 mt-2">
    <table class="table table-hover text-dark text-center">
      <thead class="table-info text-dark">
        <tr>
          <th scope="col"></th>
          <th i18n scope="col">Average price range that explorers indicate in their finders</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr>
          <th i18n scope="row" class="text-start">minimum average price (€)</th>
          <td>{{dataWarehouse.averagePriceRange[0].averageMinPrice | number : ".1-2"}}</td>
        </tr>
        <tr>
          <th i18n scope="row" class="text-start">maximum average price (€)</th>
          <td>{{dataWarehouse.averagePriceRange[0].averageMaxPrice | number : ".1-2"}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-12 col-md-10 offset-md-1 mt-2">
    <div class="w-100">
      <canvas id="topSearchesChart" class="d-inline-block">
        {{ topSearchesChart }}
      </canvas>
    </div>
  </div>
</div>