<div class="row mt-3">
  <div class="col-12 col-md-10 offset-md-1">
    <legend>Dashboard</legend>
  </div>
  <div class="col-12 col-md-10 offset-md-1 mt-2">
    <table class="table table-hover text-dark">
      <thead class="table-info text-dark">
        <tr>
          <th scope="col"></th>
          <th scope="col">Average</th>
          <th scope="col">Minimum</th>
          <th scope="col">Maximum</th>
          <th scope="col">Standard deviation</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr>
          <th scope="row">number of trips managed per manager</th>
          <td>value</td>
          <td>value</td>
          <td>value</td>
          <td>value</td>
        </tr>
        <tr>
          <th scope="row">number of applications per trip</th>
          <td>value</td>
          <td>value</td>
          <td>value</td>
          <td>value</td>
        </tr>
        <tr>
          <th scope="row">price of the trips</th>
          <td>value</td>
          <td>value</td>
          <td>value</td>
          <td>value</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-12 col-md-10 offset-md-1 mt-2">
    <table class="table table-hover text-dark">
      <thead class="table-info text-dark">
        <tr>
          <th scope="col"></th>
          <th scope="col">Average price range that explorers indicate in their finders</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr>
          <th scope="row">minimum average price (€)</th>
          <td>100</td>
        </tr>
        <tr>
          <th scope="row">maximum average price (€)</th>
          <td>800</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-12 col-md-10 offset-md-1 mt-2">
    <table class="table table-hover text-dark">
      <thead class="table-info text-dark">
        <tr>
          <th scope="col"></th>
          <th scope="col">Top 10 keywords that explorers indicate in their finders</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr>
          <th scope="row"># 1</th>
          <td>title</td>
        </tr>
        <tr>
          <th scope="row"># 2</th>
          <td>title</td>
        </tr>
        <tr>
          <th scope="row"># 3</th>
          <td>title</td>
        </tr>
        <tr>
          <th scope="row"># 4</th>
          <td>title</td>
        </tr>
        <tr>
          <th scope="row"># 5</th>
          <td>title</td>
        </tr>
        <tr>
          <th scope="row"># 6</th>
          <td>title</td>
        </tr>
        <tr>
          <th scope="row"># 7</th>
          <td>title</td>
        </tr>
        <tr>
          <th scope="row"># 8</th>
          <td>title</td>
        </tr>
        <tr>
          <th scope="row"># 9</th>
          <td>title</td>
        </tr>
        <tr>
          <th scope="row"># 10</th>
          <td>title</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>