<div *ngIf="!sponsorships || sponsorships.length == 0">
  Sorry, no sponsorships found.
</div>

<div *ngIf="sponsorships && sponsorships.length > 0">
  <ngx-datatable [rows]="sponsorships"
    #sponsorshipTable
    class="material"
    [headerHeight]="40"
    [footerHeight]="80"
    [loadingIndicator]="loadingIndicator"
    rowHeight="auto"
    [columnMode]="ColumnMode.force"
    [reorderable]="reorderable"
    [limit]="10"
    [sorts]="sorts">

    <ngx-datatable-column name="Trip" prop="trip.ticker">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <p>{{ value }}</p>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Link" prop="link">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <a href="{{value}}">{{ value }}</a>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Paid" prop="paidAt">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <p *ngIf="value">{{ value | date }}</p>
        <p *ngIf="!value">Pending</p>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>