<div class="breadcrumb">
  <legend i18n>System actors</legend>
</div>

<div i18n *ngIf="!actors || actors.length == 0">
  Sorry, no actors found.
</div>

<table *ngIf="actors && actors.length > 0" id="actorTable" class="table table-striped">
  <thead>
    <tr>
      <th i18n scope="col">Name</th>
      <th i18n scope="col">Surname</th>
      <th i18n scope="col">Email</th>
      <th i18n scope="col">Role</th>
      <th i18n scope="col" class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let actor of actors">
      <td class="align-middle" scope="row">{{actor.name}}</td>
      <td class="align-middle">{{actor.surname}}</td>
      <td class="align-middle">{{actor.email}}</td>
      <td class="align-middle">{{ getRoleName(actor.role) }}</td>
      <td class="text-center align-middle"><a i18n class="btn btn-info" routerLink="/actors/{{ actor._id }}">Details</a></td>
    </tr>
  </tbody>
</table>
