<div class="breadcrumb">
  <legend i18n>My trips</legend>
</div>

<div i18n *ngIf="!trips || trips.length == 0">
  Sorry, no trips found.
</div>

<table *ngIf="trips && trips.length > 0" id="tripTable" class="table table-striped">
  <thead>
    <tr>
      <th i18n scope="col">Title</th>
      <th i18n scope="col" class="text-center">Ticker</th>
      <th i18n scope="col" class="text-center">Start date</th>
      <th i18n scope="col" class="text-center">End date</th>
      <th i18n scope="col" class="text-center">Price</th>
      <th i18n scope="col" class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let trip of trips">
      <td class="align-middle" scope="row">{{trip.title}}</td>
      <td class="text-center align-middle">{{trip.ticker}}</td>
      <td class="text-center align-middle">{{trip.startDate | date: 'shortDate'}}</td>
      <td class="text-center align-middle">{{trip.endDate | date: 'shortDate'}}</td>
      <td class="text-center align-middle">{{ trip.price }}</td>
      <td class="text-center align-middle"><a i18n class="btn btn-info" routerLink="/trips/{{ trip._id }}">Details</a></td>
    </tr>
  </tbody>
</table>
