<div class="form-info row m-auto">
  <div class="col-10 offset-1 col-lg-8 offset-lg-2">
    <h4 i18n class="text-center mb-3">New trip</h4>
    <p i18n class="text-body-secondary text-center">Introduce the main info of your trip. After that, you could edit and add new data</p>
    <form [formGroup]="creationForm" (ngSubmit)="onSubmit()">
      <div class="row g-3">

        <div class="form-floating col-md-12">
          <input id="title" class="form-control" type="text" formControlName="title" placeholder="title" required>
          <label i18n class="px-4" for="title">Title</label>
          <div *ngIf="title!.errors?.['required']" class="text-danger mb-0" i18n>
            Please, fill in this field
          </div>
          <div *ngIf="title!.errors?.['maxlength']" class="text-danger mb-0" i18n>
            The maximum number of characters allowed is 100
          </div>
        </div>
        <div class="form-floating col-md-12">
          <textarea class="form-control" id="description" formControlName="description" required style="height: 100px"></textarea>
          <label i18n class="px-4" for="description">Description</label>
          <div *ngIf="description!.errors?.['required']" class="text-danger mb-0" i18n>
            Please, fill in this field
          </div>
          <div *ngIf="description!.errors?.['minlength']" class="text-danger mb-0" i18n>
            Introduce, at least, 10 characters
          </div>
          <div *ngIf="description!.errors?.['maxlength']" class="text-danger mb-0" i18n>
            The maximum number of characters allowed is 255
          </div>
        </div>

        <div class="form-floating col-12">
          <textarea class="form-control" id="requirements" formControlName="requirements" required style="height: 100px"></textarea>
            <label i18n class="px-4" for="requirements">Requirements</label>
            <div *ngIf="requirements!.errors?.['required']" class="text-danger mb-0" i18n>
              Please, fill in this field
            </div>
            <div *ngIf="requirements!.errors?.['minlength']" class="text-danger mb-0" i18n>
              Introduce, at least, 10 characters
            </div>
            <div *ngIf="requirements!.errors?.['maxlength']" class="text-danger mb-0" i18n>
              The maximum number of characters allowed is 255
            </div>
        </div>

        <div class="form-floating col-12 col-md-6">
          <input type="date" class="form-control" id="startDate" formControlName="startDate" required>
          <label i18n class="px-4" for="startDate">Start date</label>
          <div *ngIf="startDate!.errors?.['required']" class="text-danger mb-0" i18n>
            Please, fill in this field
          </div>
          <div *ngIf="startDate!.errors?.['isFuture']" class="text-danger mb-0" i18n>
            It is not allowed to introduce a past date
          </div>
        </div>

        <div class="form-floating col-12 col-md-6">
          <input type="date" class="form-control" id="endDate" formControlName="endDate" required>
          <label i18n class="px-4" for="endDate">End date</label>
          <div *ngIf="endDate!.errors?.['required']" class="text-danger mb-0" i18n>
            Please, fill in this field
          </div>
          <div *ngIf="endDate!.errors?.['isFuture']" class="text-danger mb-0" i18n>
            It is not allowed to introduce a past date
          </div>
        </div>

        <div *ngIf="creationForm!.errors?.['endDateAfterStartDate']" class="col-12 text-center text-danger my-0" i18n>
          End date must be after start date
        </div>

        <div class="col-12">
          <button id="submitButton" i18n class="w-100 btn btn-primary btn-lg" type="submit" [disabled]="creationForm.invalid">Send</button>
        </div>
      </div>
    </form>
  </div>
</div>

