<div i18n *ngIf="!sponsorships || sponsorships.length == 0">
  Sorry, no sponsorships found.
</div>

<table *ngIf="sponsorships && sponsorships.length > 0" id="sponsorshipTable" class="table table-striped">
  <thead>
    <tr>
      <th i18n scope="col">Trip</th>
      <th i18n scope="col">Link</th>
      <th i18n scope="col" class="text-center">Paid at</th>
      <th i18n scope="col" class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let sponsorship of sponsorships">
      <td class="align-middle" scope="row">{{sponsorship.trip.ticker}}</td>
      <td class="align-middle">{{sponsorship.link}}</td>
      <td *ngIf="sponsorship.paidAt" class="text-center align-middle">{{sponsorship.paidAt | date: 'shortDate'}}</td>
      <td *ngIf="!sponsorship.paidAt" class="text-center align-middle"> - </td>
      <td class="text-center align-middle">
        <a i18n class="btn btn-info" routerLink="/sponsorships/{{ sponsorship._id }}">Details</a>
        <a i18n class="btn btn-secondary" routerLink="/trips/{{ sponsorship.trip._id }}">Trip</a>
      </td>
    </tr>
  </tbody>
</table>
