<div class="breadcrumb">
  <legend class="d-flex justify-content-between">
    <div>
      {{ trip.title }}
      <h6 class="card-subtitle mb-2 text-muted">{{ trip.startDate | date: 'shortDate' }} - {{ trip.endDate | date: 'shortDate' }}</h6>
    </div>
    <button i18n class="btn btn-light" (click)="goBack()">Trips</button>
  </legend>
</div>

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <img [src]="getMainPicture().image" class="img-fluid rounded" [alt]="getMainPicture().title">
      </div>
      <div class="col-md-8">
        <p class="card-text">{{ trip.description }}</p>
        <p class="card-text"><strong i18n>Price:</strong> {{ trip.price }}</p>
        <p class="card-text"><strong i18n>Requirements:</strong> {{ trip.requirements }}</p>
      </div>
    </div>
  </div>
  <div *ngIf="canDisplayActions()" class="card-footer text-muted d-flex justify-content-around">
    <button i18n class="btn btn-primary mr-2">Edit</button>
    <button i18n class="btn btn-danger mr-2">Delete</button>
    <button i18n class="btn btn-info">Applications</button>
  </div>
</div>

<div *ngIf="trip.stages.length > 0" class="mt-3" id="accordion">
  <h4 i18n>Stages</h4>
  <div *ngFor="let stage in trip.stages" class="card">
    <div class="card-header" id="heading{{stage._id}}">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" attr.data-target="#collapse{{stage._id}}" aria-expanded="true" attr.aria-controls="collapse{{stage._id}}">
          {{stage.title}}
        </button>
      </h5>
    </div>

    <div id="collapse{{stage._id}}" class="collapse show" attr.aria-labelledby="heading{{stage._id}}" data-parent="#accordion">
      <div class="card-body">
        <span i18n>Price: </span>{{stage.price}}
        <p>{{stage.description}}</p>
      </div>
    </div>
  </div>
</div>
