<div class="breadcrumb">
  <legend class="d-flex justify-content-between">
    <h5 i18n class="my-auto">Applications</h5>
    <button i18n class="btn btn-light" (click)="goBack()">Trip</button>
  </legend>
</div>

<div class="card mb-4">
  <div i18n class="card-header">
    Trip info
  </div>
  <div class="card-body row">
    <div class="col-2 text-center">{{trip.ticker}}</div>
    <div class="col-4">{{trip.title}}</div>
    <div class="col-3 text-center">{{trip.startDate | date:'shortDate'}}</div>
    <div class="col-3 text-center">{{trip.endDate | date:'shortDate'}}</div>
  </div>
</div>

<div i18n *ngIf="!applications || applications.length == 0" id="applicationsNotFound">
  Sorry, no applications found.
</div>

<div *ngIf="applications && applications.length > 0">
  <ngx-datatable [rows]="applications"
    #applicationsTable
    class="material"
    [headerHeight]="40"
    [footerHeight]="80"
    [loadingIndicator]="loadingIndicator"
    rowHeight="auto"
    [columnMode]="ColumnMode.force"
    [reorderable]="reorderable"
    [limit]="10"
    [sorts]="sorts">

     <!-- Column Templates -->
    <ngx-datatable-column i18n-name name="Explorer" prop="explorer">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <p>{{ value }}</p>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column i18n-name name="Status" prop="status">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <p>{{ getStatusName(value) }}</p>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column i18n-name name="Creation date" prop="createdAt">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <p *ngIf="value">{{ value | date:'shortDate' }}</p>
        <p class="text-center" *ngIf="!value"> - </p>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column i18n-name name="Actions">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <button i18n class="btn btn-sm btn-info" (click)="showApplicationDetails(row)" data-bs-toggle="modal" data-bs-target="#displayModal">Details</button>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>

<app-application-display [application]="selectedApplication" [actor]="actor"></app-application-display>
