<div class="row mb-3">
  <div class="col-12 col-md-6">
    <h5 class="mb-0">{{trip.ticker}} - <ng-container i18n>Applications</ng-container></h5>
    <p class="text-body-secondary mb-0"><small><ng-container i18n>Created at</ng-container> {{trip.createdAt | date: 'shortDate'}}</small></p>
  </div>
  <div class="col-12 col-md-6" id="buttons">
    <div class="d-flex py-2 justify-content-around py-md-0 justify-content-md-end">
      <button i18n class="btn btn-light" (click)="goBack()">Trip</button>
    </div>
  </div>
</div>

<div i18n *ngIf="!applications || applications.length == 0" id="applicationsNotFound">
  Sorry, no applications found.
</div>

<table *ngIf="applications && applications.length > 0" id="applicationTable" class="table table-striped">
  <thead>
    <tr>
      <th i18n scope="col">Explorer</th>
      <th i18n scope="col" class="text-center">Status</th>
      <th i18n scope="col" class="text-center">Creation date</th>
      <th i18n scope="col" class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let application of applications" class="applicationTableRow">
      <td class="align-middle" scope="row">{{application.explorer}}</td>
      <td class="text-center align-middle">{{ getStatusName(application.status) }}</td>
      <td class="text-center align-middle">{{application.createdAt | date: 'shortDate'}}</td>
      <td class="text-center align-middle">
        <button i18n class="btn btn-sm btn-info" (click)="showApplicationDetails(application)" data-bs-toggle="modal" data-bs-target="#displayModal">Details</button>
      </td>
    </tr>
  </tbody>
</table>

<app-application-display [application]="selectedApplication" [actor]="actor"></app-application-display>
