<div class="breadcrumb">
  <legend i18n>Applications</legend>
</div>

<div class="card mb-4">
  <div i18n class="card-header">
    Trip info
  </div>
  <div class="card-body row">
    <div class="col-2 text-center">{{trip.ticker}}</div>
    <div class="col-4">{{trip.title}}</div>
    <div class="col-3 text-center">{{trip.startDate | date:'shortDate'}}</div>
    <div class="col-3 text-center">{{trip.endDate | date:'shortDate'}}</div>
  </div>
</div>

<div i18n *ngIf="!applications || applications.length == 0">
  Sorry, no applications found.
</div>

<div *ngIf="applications && applications.length > 0">
  <ngx-datatable [rows]="applications"
    #applicationsTable
    class="material"
    [headerHeight]="40"
    [footerHeight]="80"
    [loadingIndicator]="loadingIndicator"
    rowHeight="auto"
    [columnMode]="ColumnMode.force"
    [reorderable]="reorderable"
    [limit]="10"
    [sorts]="sorts">

    <!-- Row Detail Template -->
    <ngx-datatable-row-detail [rowHeight]="50" #myDetailRow>
      <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
        <p class="text-center">{{row.comments}}</p>
      </ng-template>
    </ngx-datatable-row-detail>

     <!-- Column Templates -->
    <ngx-datatable-column
     [width]="50"
     [resizeable]="false"
     [sortable]="false"
     [draggable]="false"
     [canAutoResize]="false"
    >
      <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
        <a
          href="javascript:void(0)"
          [class.datatable-icon-right]="!expanded"
          [class.datatable-icon-down]="expanded"
          title="Expand/Collapse Row"
          class="btn btn-light py-0"
          (click)="toggleExpandRow(row)"
        >
        +
        </a>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column i18n-name name="Explorer" prop="explorer">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <p>{{ value }}</p>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column i18n-name name="Status" prop="status">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <p>{{ value }}</p>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column i18n-name name="Cancellation date" prop="cancellationDate">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <p *ngIf="value">{{ value | date:'shortDate' }}</p>
        <p class="text-center" *ngIf="!value"> - </p>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column i18n-name name="Cancellation reason" prop="cancellationReason">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <p *ngIf="value">{{ value }}</p>
        <p class="text-center" *ngIf="!value"> - </p>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
