/* You can add global styles to this file, and also import other style files */
$primary: #008a83;
$secondary: #161086;
$success: #0c9968;
$info: #afd4ff;
$warning: #ffda07c0;
$danger: #dc3551;
$light: #f8f9fa;
$dark: #0e2649;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark
);


@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');

@include color-mode(dark) {

  h1, h2, h3, h4, h5, h6, p {
    color: $light !important;
  }

  legend {
    color: $light !important;
  }

  small {
    color: $info !important;
  }

  div #paymentModalBody {
    background-color: white !important;
  }

  .text-dark {
    color: $info !important;
  }

  .text-primary:active {
    color: $light !important;
  }

  a.nav-link.px-2.text-body-secondary {
    color: $primary !important;
  }

  .form-control {
    color: $light !important;
  }

  .form-date {
    color: var(--bs-body-color) !important;
  }

  .card-title {
    color: $light !important;
  }

  .card-text {
    color: $light !important;
  }

  .upcomingTrip {
    background-color: $primary !important;
  }

  .table-info {
    --bs-table-bg: $dark !important;
  }

  .admin-chart {
    background-color: $info !important;
  }

  .btn-outline-secondary {
    color: $light !important;
    border-color: $light !important;
  }

  .btn-light {
    background-color: $info !important;
    border-color: $info !important;
  }
}


body {
  font-family: 'Reem Kufi', sans-serif !important;
  word-spacing: 0.15em;
}

.text-justify {
  text-align: justify;
}

.clickable-card {
  transition: all 0.3s ease-out;
}

.clickable-card:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

