<div id="cancelModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form [formGroup]="tripCancellationForm" (ngSubmit)="onSubmit()">
        <div class="modal-header">
          <h1 i18n class="modal-title fs-3" id="exampleModalLabel">Cancel trip</h1>
          <button #closeModalButton type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body row g-3">
          <div class="alert alert-danger alert-dismissible fade d-flex justify-content-between show my-0" role="alert"
            *ngIf="formError != null && formError.length > 0">
            <span>{{formError}}</span>
            <button class="btn btn-link text-decoration-none text-reset p-0" (click)="closeError()">
              <strong>x</strong>
            </button>
          </div>
          <div class="form-floating col-md-12">
            <textarea class="form-control" id="reason" formControlName="reason" required style="height: 150px"></textarea>
            <label i18n class="px-4" for="reason">Reason</label>
            <div *ngIf="reason!.errors?.['required']" class="text-danger mb-0" i18n>
              Please, fill in this field
            </div>
            <div *ngIf="reason!.errors?.['minlength']" class="text-danger mb-0" i18n>
              Introduce, at least, 25 characters
            </div>
            <div *ngIf="reason!.errors?.['maxlength']" class="text-danger mb-0" i18n>
              The maximum number of characters allowed is 255
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button i18n class="btn btn-primary" type="submit" [disabled]="tripCancellationForm.invalid">Submit</button>
          <button i18n type="button" class="btn btn-info" data-bs-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
