<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <h1 i18n class="modal-title fs-3" id="exampleModalLabel">New stage</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <form>
        <p i18n class="fs-5">Would you like to add any comment?</p>
        <div class="form-floating mb-3">
          <textarea class="form-control" id="comments"></textarea>
          <label i18n for="comments" class="col-form-label">Comments</label>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button i18n type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="onSubmit()">Submit</button>
      <button i18n type="button" class="btn btn-info" data-bs-dismiss="modal">Cancel</button>
    </div>
  </div>
</div>
