<div class="breadcrumb">
  <legend i18n>
    My applications
  </legend>
</div>

<div i18n *ngIf="!applicationsByStatus || applicationsByStatus.length == 0">
  Sorry, no applications found.
</div>

<div *ngIf="applicationsByStatus && applicationsByStatus.length > 0" class="accordion" id="appsAccordion">
  <div *ngFor="let appByStatus of applicationsByStatus" class="accordion-item">

    <h2 class="accordion-header" [id]="'heading' + appByStatus._id">
      <button class="accordion-button" type="button" data-bs-toggle="collapse"
        [attr.data-bs-target]="'#collapse' + appByStatus._id" aria-expanded="true">
        {{ getStatusName(appByStatus._id) }}
      </button>
    </h2>

    <div id="{{'collapse' + appByStatus._id}}" class="accordion-collapse collapse show"
      [attr.aria-labelledby]="'#heading' + appByStatus._id" data-bs-parent="#appsAccordion">
      <div *ngFor="let application of appByStatus.applications; let i=index" class="accordion-body">

        <div class="card-text row">
          <span class="col-12 col-md-1">#{{i+1}}</span>
          <span *ngIf="getCommentsText(application.comments) == 'No comments'" i18n
            class="col-12 col-md-4 mt-2 mt-md-0 fst-italic">No comments</span>
          <span *ngIf="getCommentsText(application.comments) != 'No comments'" class="col-12 col-md-4 mt-2 mt-md-0">{{
            getCommentsText(application.comments) }}</span>
          <span class="col-12 col-md-1 mt-2 mt-md-0 text-center">{{application.createdAt | date:'shortDate'}}</span>

          <div class="col-12 col-md-6">
            <div class="row mt-3 mt-md-0">
              <div class="col-3 offset-2 offset-md-0 text-center">
                <a i18n class="btn btn-light" href="#" routerLink="/trips/{{application.trip}}">Trip</a>
              </div>
              <div *ngIf="appByStatus._id === 'pending' || appByStatus._id === 'due'" class="col-3 text-center">
                <button id="cancel{{'App' + application._id}}" type="button" i18n
                  class="btn btn-danger text-light cancel-button" data-bs-toggle="modal"
                  [attr.data-bs-target]="'#cancelModal' + application._id">
                  Cancel
                </button>
                <div [attr.id]="'cancelModal' + application._id" class="modal fade" data-bs-backdrop="static"
                  data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 i18n class="modal-title fs-3" id="exampleModalLabel">Cancellation</h1>
                        <button type="button" id="modalClose" class="btn-close" data-bs-dismiss="modal"
                          aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <p class="fs-3" i18n>Are you sure you want to cancel this application?</p>
                      </div>
                      <div class="modal-footer">
                        <button i18n type="button" class="btn btn-dark text-light" data-bs-dismiss="modal"
                          (click)="cancelApplication(application._id)">Yes</button>
                        <button i18n type="button" class="btn btn-info" data-bs-dismiss="modal">No</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="appByStatus._id === 'due'" class="col-3 text-center">
                <button id="checkout{{'App' + application._id + 'Trip' + application.trip}}" type="button" i18n
                  class="btn btn-primary text-light pay-button" data-bs-toggle="modal" data-bs-target="#checkoutModal">
                  Checkout
                </button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div id="checkoutModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 i18n class="modal-title fs-3" id="exampleModalLabel">Checkout</h1>
        <button type="button" id="modalClose" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-checkout>
        </app-checkout>
      </div>
      <div class="modal-footer">
        <button i18n type="button" class="btn btn-info" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>