<div class="breadcrumb">
  <legend i18n>
    My applications
  </legend>
</div>

<div i18n *ngIf="!applicationsByStatus || applicationsByStatus.length == 0">
  Sorry, no applications found.
</div>

<div *ngIf="applicationsByStatus && applicationsByStatus.length > 0" class="accordion" id="appsAccordion">
  <div *ngFor="let appByStatus of applicationsByStatus" class="accordion-item">
    <h2 class="accordion-header" [id]="'heading' + appByStatus._id">
      <button class="accordion-button" type="button" data-bs-toggle="collapse"
      [attr.data-bs-target]="'#collapse' + appByStatus._id" aria-expanded="true" [attr.aria-controls]="'#collapse' + appByStatus._id">
        {{ getStatusName(appByStatus._id) }}
      </button>
    </h2>
    <div id="{{'collapse' + appByStatus._id}}" class="accordion-collapse collapse show" [attr.aria-labelledby]="'#heading' + appByStatus._id" data-bs-parent="#appsAccordion">
      <div *ngFor="let application of appByStatus.applications; let i=index" class="accordion-body">
        <div class="card-text row">
          <span class="col-2">#{{i+1}}</span>
          <span class="col-6">{{application.comments}}</span>
          <span class="col-2 text-center">{{application.createdAt | date:'shortDate'}}</span>
          <div class="col-2 text-center">
            <a i18n class="btn btn-light" href="#" routerLink="/trips/{{application.trip}}">Trip</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
